.header {
  
  justify-content: space-between;
  background-color: lightblue;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: solid ;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}

p{
  text-align: center;
}
